<!doctype html>
<html>
<head>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=x"></script>
<script src="/static/jquery-1.4.2.js"></script>
<script>
var rayoByID = {};
{% for rayo in rayos %}
rayoByID[{{rayo.id}}] = {
    lat: {{rayo.geopunto.y}},
    lng: {{rayo.geopunto.x}}
};
{% endfor %}
var map, marker;
function initialize() {
    if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById('map'));
        map.setCenter(new GLatLng(41.879535, -3.70979), 5);
        map.setUIToDefault();
    }
    $(document).ready(function () {
        function activate_rayos() {
            // Add rayo click handler
            $('.rayo').each(function () {
                $(this).click(function() {
                    var rayo = rayoByID[this.id];
                    var center = new GLatLng(rayo.lat, rayo.lng);
                    if (marker) map.removeOverlay(marker);
                    marker = new GMarker(center);
                    map.addOverlay(marker);
                    map.panTo(center);
                }).hover(
                    function () {this.className = this.className.replace('OFF', 'ON');},
                    function () {this.className = this.className.replace('ON', 'OFF');}
                );
            });
        }
        activate_rayos();
    });
}
</script>
<style>
    body {
        font-family: sans-serif;
    }
    #map {
        width: 1024px;
        height: 500px;
    }
    #rayos {
        overflow: auto;
        width: 1024px;
        height: 100px;
    }
    .linkOFF {color: darkblue}
    .linkON {color: white; background-color: darkblue}
</style>
</head>
<body onload="initialize()" onunload="GUnload()">
    <div id=map></div>
    <div id=rayos>
        {{content}}
    </div>
</body>
</html>