<!doctype html>
<html>
<head>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=x">
</script>
<script>
var map;
function initialize() {
    if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById('map'));
        map.setCenter(new GLatLng(41.879535, -87.624333), 5);
        map.setUIToDefault();
    }
}
</script>
<style>
    body {
        font-family: sans-serif;
    }
    #map {
        width: 500px;
        height: 300px;
    }
</style>
</head>
<body onload="initialize()" onunload="GUnload()">
    <div id=map></div>
</body>
</html>
