<html>
<head>
  <title>OpenLayers Example</title>
    <script src="http://openlayers.org/api/OpenLayers.js"></script>
    </head>
    <body>
      <div style="width:100%; height:100%" id="map"></div>
      <script defer="defer" type="text/javascript">
        var map = new OpenLayers.Map('map');
        //var wms = new OpenLayers.Layer.WMS( "OpenLayers WMS","http://geometeoserver/cgi-bin/tilecache.cgi",{layers: 'basic'});
        //var wms = new OpenLayers.Layer.WMS( "OpenLayers WMS","http://www.idee.es/wms/IDEE-Base/IDEE-Base",{layers: 'bcn_mdt_200'});
        var wms = new OpenLayers.Layer.WMS( "OpenLayers WMS","http://columbo.nrlssc.navy.mil/ogcwms/servlet/WMSServlet/Web_Weather_Rasters.wms",{layers: '62:1'});
        map.addLayer(wms);
        map.zoomToMaxExtent();
      </script>

</body>
</html>

